body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  line-height: 1.6;
}

nav{
  height: 100%;
}

.topnav {
  overflow: auto;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 140%;
  height: 10.6vh;
  line-height: 120px;
  text-transform: uppercase;
}

.topnav a:hover {
  color: #2196f3;
}

.topnav a.active {
  color: #2196f3;
}

.topnav-right {
  float: right;
  margin-right: 5%;
}

#compName{
  font-size: 2.6em;
  margin-left: 10%;
}

.search{
  display: inline-block;
  margin-top: 10.2%;
}

.search input[type=text]{
  font-size: 105%;
  border: 1.5px solid #616161;
  border-radius: 15px;
  width: 150px;
  padding: 3px 8px;
}

.mtt-header{
  background-color: #000;
  height: 20vh;
  width: 100vw;
  background-image: url("../imgs/background2.png");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.mtt-header h1 {
  color: #fff;
  padding-top: 4%;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: normal;
}

.container{
  width: 100vw;
  height: 100%;
}

.left-img{
  display: inline-block;
  height: 80vh;
  width: 35%;
  background-color: #000;
  float: left;
  margin-top: 6%;
  margin-left: 8%;
}

.left-img img{
  height: 80vh;
  width: 100%;
}

.desc{
  display: inline-block;
  width: 40%;
  padding-bottom: 21%;
  margin-left: 3%;
  margin-top: 24%;
}

.desc h4{
  color: #9e9e9e;
}

.right-img{
  display: inline-block;
  height: 80vh;
  width: 35%;
  background-color: #000;
  float: right;
  margin-top: 6%;
  margin-right: 8%;
}

.right-img img{
  height: 80vh;
  width: 100%;
}

.desc2{
  display: inline-block;
  width: 40%;
  padding-bottom: 21%;
  margin-left: 14%;
  margin-top: 24%;
  text-align: right;
}

.desc2 h4{
  color: #9e9e9e;
}

.footer{
  background-color: #000;
  height: 100%;
  width: 100vw;
}

.footer1{
  padding-top: 3%;
}

.footer1 a{
  margin-left: .75%;
}

.footer2{
  padding-top: 4%;
}

.footer2 a{
  margin-left: 5%;
  text-decoration: none;
  color: #9e9e9e;
  font-size: 115%;
}

.footer2 a:hover{
  color: #2196F3;
}

#copyright{
  color: #757575;
  margin-top: 4%;
  padding-bottom: 2%;
  font-size: 90%;
}



@media all and (max-width: 800px) {

  .topnav, .topnav-right{
    display: block;
    text-align: center;
    float: none;
  }

  .topnav{
    height: 28vh;
  }

  .topnav a{
    float: none;
    font-size: 120%;
  }

  #compName{
    margin-left: 1%;
    font-size: 250%;
  }

  .mtt-header h1{
    padding-top: 14%;
    font-size: 2em;
  }

  .left-img, .right-img, .desc, .desc2 {
    display: block;
  }

  .left-img, .right-img{
    width: 70%;
    height: 50vh;
    margin-bottom: 10%;
    margin-top: 0%;
  }

  .left-img{
    margin-left: 14.5%;
  }

  .right-img{
    margin-right: 14.5%;
  }

  .left-img img, .right-img img{
    height: 50vh;
  }

  .desc, .desc2{
    width: 80vw;
    padding-bottom: 0;
    margin-left: 13%;
    margin-top: 15%;
  }

  .desc2{
    margin-left: 6%;
  }

  .desc2:last-child{
    padding-bottom: 15%;
  }

  .footer2{
    padding-bottom: 8%;
    padding-top: 10%;
  }

  .footer2 a{
    font-size: 105%;
  }

  .footer1{
    padding-top: 10%;
  }

  #copyright{
    padding-top: 6%;
  }

  .search{
    display: none;
  }

}